<div class="container mt-5">
    <div class="row">
        <div>
            <div class="col-4 text-center">
                {% for testimonial in object_list %}
                <h2>{{testimonial.name}}</h2>
                <p>{{testimonial.testimonial}}</p>
                <p>{{testimonial.rating}}</p>
                <p class="text-end"><em>Created on: {{ testimonial.created_on }}</em></p>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
      <div class="col-8">
        <!-- Title goes between these h2 tags -->
        <h2>TESTIMONIALS</h2>
        <!-- Content goes directly underneath this -->
        <p>Check out all our testimonials for NewsTok from our amazing users.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 my-5">
          <h2>We would love to hear about what you think about NewsTok</h2>
          <p>Thank you for being part of our community and for taking the time to contribute. 
            Your testimonials may be featured on our website to showcase the real voices of our readers.</p>
  
          <!-- add your form here. Your submit button should 
                              have the classes of btn, btn-secondary -->
          <form method="post">
            {{ testimonial_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">Submit</button>
          </form>
      </div>
  </div>