{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <a href="{% url 'user_profile_comments' %}"><button type="button" class="btn btn-primary">GO TO YOUR
                    COMMENTS</button></a>
        </div>
        <!-- News Entries Column -->
        <div class="col-12 mt-3 left">
            <h3>My Posts:</h3>
            <div class="row">
                {% for article in article_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in article.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ article.featured_image.url }}"
                                    alt="{{ article.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ article.author }}</p>
                                </div>
                            </div>
                            <!-- {% if article.staus != 1 %}
                            faded{% endif %} -->
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">
                                    <a href="../{{ article.slug }}" class="article-link">
                                        <h2 class="card-title text-center">{{ article.title }}</h2>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text text-muted h6">{{ article.created_on }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">{{ article.excerpt|truncatewords:35 }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            <li>
                <span class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}