{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
 
<a href="{% url 'user_profile_posts' %}"><button type="button" class="btn btn-primary">GO TO YOUR POSTS</button></a>
  
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>My Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comment_list %}
       
        <a href="{% url 'article_detail' comment.article.slug %}" class="article-link">
            <h2 class="card-title">{{ comment.article.title }}</h2>
            
        </a>
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">This comment is awaiting approval</p>
          {% endif %}
          {% if user.is_authenticated and comment.author == user %}
          <!-- <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
          <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button> -->
          <a href="../{{ comment.article.slug }}/delete_comment/{{ comment.id }}"><button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button></a>
          <a href="../{{ comment.article.slug }}/edit_comment/{{ comment.id }}"><button class="btn btn-delete" comment_id="{{ comment.id }}">Edit</button></a> 
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>

{% endblock %}
